@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e3e9f7;
}

main {
    display: flex;   
    flex-direction: column;
    padding: 2%;
    margin-bottom: 5%;
    padding-left: calc(6em + 2%);
}

/*CABEÇALHO*/
header{
    display: flex;
    padding: 1%;
    justify-content: space-between;
}
#pageatual{
    color: #1A7E90;
    font-weight: 600;
}
.header-left{
    display: flex;
    align-items: center;
    gap: 5%;
}
.header-left-ul{
    display: flex;
    gap: 9px;
    font-size: 90%;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    line-height: normal;
}
.header-left-ul a{
    color: #494949;
}
.logo-icon{
    width: 20%;
}
.notification-button,
.configuração-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    
}

.notification-button img,
.configuração-button img {
    width: 100%; /* ajuste o tamanho conforme necessário */
    height: 100%; /* ajuste o tamanho conforme necessário */
}

/*MENU REDUZIDO*/

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: fixed;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #0097B2;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #FFF;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #FFF;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}
.side-item a i img {
    width: 20px;
    height: 20px;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #0097B2;
    color: #e3e9f7;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

#open_btn i {
    transition: transform .3s ease;
}

.open-sidebar #open_btn i {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

/*WELCOME BANNER*/

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h2{
    color: #1A7E90;
    font-size: x-large;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 42px */
}

#help{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: 1;
    object-fit: cover;
    color: #828282;
    background: none;
    font-size: x-large;
    cursor: pointer;
    font-weight: 600;
    border-color: #828282;
}

.welcome-section{
    display: flex;
    margin-top: 2%;
    gap: 1.5%;
}
#professora{
    object-fit: cover;
    transform: translateY(1.5%);
}
.welcome-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #69B0D8;
    padding: 5%;
    margin-left: 0;
    width: 150%;
    color: #FFF;
    gap: 10px;
    font-size: medium;
    height: 240px;
    border-radius: 20px;
}

.welcome-container img{
    width: 90%;
}


/*DROPDOWNS -- SELECT*/
.dropdowns {
    display: flex;
}

.dropdown {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #B9B9B9;
    text-decoration: none;
}
.filtros{
    display: flex;
    margin-top: 1%;
    gap: 2%;
}
/*CONTAINER */

.container {
    width: 100%;
    margin: 20px auto;
    font-size: medium;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    font-weight: 600;
    color: #004450;
}

.container-top-bar{
    display: flex;
    font-size: medium;
    justify-content: space-between;
    margin-bottom: 2%;
    margin-top: 1%;
}
#procure{
    margin-left: 20px;
    padding: 10px;
    font-size: 14px;
    border-radius: 14px;
    border: none;
    color: #FFF;
    cursor: pointer;
}

.visu{
    padding: 6%;
    font-size: medium;
    border-radius: 14px;
    font-weight: 600;
    border: none;
    background-color: #69B0D8;

}

/*FOOTER*/

footer{
    display: flex;
    background-color: #004450;
    padding: 2%;
    color: #FFF;
    text-align: center;
    justify-content: center;
    gap: 2%;
    align-items: center;
}
footer img{
    width: 1.5%;
}


/*AJUDA MODAL*/
.modal-help{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    gap: 20px;
    height: fit-content;
    background-color: #FFF;
    border-radius: 24px;
    padding: 5%;
}
.modal-help-content{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 10px;
}
.modal-help-content img{
    object-fit: cover;
    width: 600px;
}
#ok-help{
    border: none;
    border-radius: 14px;
    padding: 3%;
    font-size: 14px;
    background-color: #0097B2;
    align-self: center;
    color: #FFF;
    cursor: pointer;
    margin-top: 1%;
    width: 80px;
}
#suporte{
    background-color:#b9b9b9;
    font-weight: 500;
    width: 50px ;
    cursor: pointer;
    font-size: medium;
    border: none;
    border-radius: 14px;
}
#suporte img{
    width: 40px;
}
p{
    display: flex;
    gap: 5px;
    align-items: center;
}

.popup{
    position: absolute;
    align-self: center;
    border: none;
    margin-top: 3%;
    box-sizing: border-box;
    transition: all .4s;
    z-index: 1;
    transform: scale(.4);
    opacity: 0;
}

.popup.opened{
    z-index: 999;
    transform: scale(1);
    opacity: 1;
}
.help,
.ok-help{
    transition: all .4s;
    cursor: pointer;
}

.help:hover,
.ok-help:hover{
    opacity: .8;
}

.help:active,
.ok-help:active{
    transform: scale(.8);
}

/*ADICIONAR RELATORIO*/
.add-report-btn {
    margin-left: 20px;
    padding: 10px 26px;
    font-size: 16px;
    border-radius: 14px;
    border: none;
    background-color: #69B0D8;
    color: #FFF;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 3%;
    border: 1px solid #888;
    width: 100%;
    max-width: 600px;
    border-radius: 24px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}
.input{
    width: 500px;
    border-color: #efefef;
    border-radius: 5px;
    background: rgba(221, 222, 238, 0.50);
    padding: 1%;
    font-size: medium;
}
label, input, button {
    margin-bottom: 10px;
}

button[type="submit"] {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 14px;
    border: none;
    background-color: #91BD80;
}

input[type="file"] {
    color: transparent; /* Esconde o texto do input */
}

input[type="file"]::-webkit-file-upload-button {
    background-color: #69B0D8; /* Cor de fundo do botão "Escolher arquivo" */
    border: 2px solid #ccc; /* Borda do botão */
    padding: 2%;
    border-radius: 14px;
    font-size: medium;
    color: white;
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    background-color: #69B0D8; /* Cor de fundo do botão "Escolher arquivo" */
    border: 2px solid #ccc; /* Borda do botão */
    padding: 2%;
    border-radius: 14px;
    font-size: medium;
    color: white;
    cursor: pointer;
}

input[type="file"]::-moz-file-upload-button {
    background-color: #69B0D8; /* Cor de fundo do botão "Escolher arquivo" */
    border: 2px solid #ccc; /* Borda do botão */
    padding: 2%;
    border-radius: 14px;
    font-size: medium;
    color: white;
    cursor: pointer;
}

/*MEDIAS*/


@media screen and (max-width: 700px) {
    .modal-help {
        width: 300px;
    }
    .modal-help-content img {
        width: 270px;
    }
}

/*MODO ESCURO*/ 
body.dark-mode {
    background-color: #131721;
    color: #e3e9f7;
}

body.dark-mode header {
    background-color: #131721;
    color: #e3e9f7;
}

body.dark-mode #sidebar {
    background-color: #22272F;
}

body.dark-mode .welcome-container {
    background-color: #69B0D8;
}

body.dark-mode .carousel-select img{
    background-color: #131721;
}

body.dark-mode .disciplina-view{
    background-color: #22272F;
    color: #e3e9f7;
}

body.dark-mode .modal-content{
    background-color: #22272F;
    color: white;
}


body.dark-mode .modal-help{
    background-color: #22272F;
    color: white;
}

/*fotos dos botões*/
#themeToggle img {
    width: 30px;
    height: 30px;
    display: block;
}

#themeToggle {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none; 
}
